<div class="container center_div">
    <h1 style="font-family: Georgia, serif;">Login 🏠</h1>

    <form [formGroup]="login" class="col text-center" >

        <div>
            <label for="colFormLabelLg" class=" col-form-label col-form-label-lg">Name:</label>
            <div style="align-items: center" >
                <input type="text" placeholder="Enter name" formControlName="name">
            </div>
        </div>

        <div>
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Password:</label>
            <div style="align-items: center">
                <input type="password" placeholder="Enter password" formControlName="password">
            </div>
        </div>

        <br><br>
        <div>
            <div class="col text-center" >
                <button (click)="loginSubmit(login.value)" [disabled]="login.invalid" type="button" class="btn btn-success">Log in 💡</button>
            </div>
            <div class="col text-center" style="padding: 1.4%;">
                <button (click)="goToSignUp()" type="button" class="btn btn-primary">Sign Up✨</button>
            </div>
        </div>
        
    </form>
</div>
