.center_div{
    width: 100%; /* value of your choice which suits your alignment */
    padding-top: 10%;
    height: 100vh;
}

body, html {
    height: 100%;
    display: grid;
}

form
{
    white-space: nowrap;
}

h1 {
 
    text-align: center;
}